

#layout {
    display: flex;
    flex-direction: column;
}

#heading {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}


h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #617ea5;
}

#container {
    background-color: white;
    display: flex;
    aspect-ratio: 1 / 1;
    flex: 0 1 500px;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 4px #617ea566;
    user-select: none;
    justify-content: center;
}

#content {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 auto;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings, #empty {
    display: flex;
    flex-basis: 20%;
    padding: 20px;
}

.active {
    background-color:#46648C;
}

button {
    border: 0px;
    border-radius: 8px;
    background-color: #617ea5;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 200px;
    box-shadow: 0px 0px 5px 2px #00000044;
    margin: 20px 0;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover {
    background-color: #46648C;
}


#colorPicker {
    width: 100px;
	height: 100px;
	border: none;
	background: none;
    margin: 20px 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
    border: solid 3px #ffffff;
	border-radius: 100px;
    box-shadow: 0px 0px 5px 2px #00000044;
}

input[type="color"]::-webkit-color-swatch:hover {
    border: none;
}

#slider {
    color: #617ea5;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
    margin-top: 20px;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #617ea5bb;
    margin-top: -12px; 
    box-shadow: 0px 0px 1px 1px #46648C44;
  }


  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #00000044;
    background: #ffffff;
    border-radius: 10px;
    
  }